.resume__container {
    grid-template-columns: (1, 1fr);


}
.section__title{
    text-align:center;
}
.timeline {
    /* background-color: teal; */

    border-radius: 10px;
    position: relative;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
    padding: 1.875rem;

}

.timeline__item {
    position: relative;
    padding-left: 3.125rem;
    padding-bottom: 3.125rem;

}

.timeline__item:last-child {
    padding-bottom: 0;
}

.timeline__item::before {
    content: '';
    width: 1px;
    height: 100%;
    background-color: white;
    position: absolute;
    left: .25rem;
    top: 0;
}

.timeline .icon-graduation {
    position: absolute;
    left: -0.4375rem;
    top: 0;
    font-size: var(--h2-font-size);
    color: var(--first-color);
    background-color: var(--container-color);
    padding: 0.4375rem 0;
}

.timeline__date {
    color: #8b88b1;
    font-size: var(--small-font-size);
}

.timeline__title {
    font-size: var(--h3-font-size);
    margin: 0.5rem 0;
}

@media screen and (max-width : 1024px) {
    .resume__container {
        grid-template-columns: 450px;
        justify-content: center;
        row-gap: 1.875rem;
    }

    .timeline__item ::before {
        left: 2px;

    }
}


@media screen and (max-width : 768px) {
    .resume__container {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width : 350px) {
    .timeline__item {
        padding-left: 1.875rem;
        padding-bottom: 1.875rem;
    }

    .timeline__item::before {
        left: 0;
    }

    .timeline .icon-graduation {
        left: -9px;
    }

    .timeline__text {
        text-align: justify;
    }

}